.methods {
  width: 90%;
  color: white;
}

.methodComponent {
  margin: 40px 0px;
  background-color: $my-darkBlue;
  border-radius: 10px;
  padding: 15px 20px;
  transition: 0.3s all ease-in-out;
  &:hover{
      scale: 1.3;
  }
  &-span {
    margin-left: 2rem;
    color: $my-orange;
  }
  &-h5 {
    margin: 0.5rem;
    color: $sun-yellow;
  }
  button {
    padding: 1px 5px;
  }

  &-navLinkMdn {
    color: $my-blue;
    &-span {
      color: $my-blue;
    }
  }
  &-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-input1{
      transition:  0.3s ease-in-out;
      width: 7rem;
      text-align: center;
      border-radius: 25px;
    }
    &-focused{
      border-radius: 5px;

    }
    &-input2{
      margin-left: 0.5rem;
      width: 4rem;
      text-align: center;
      border-radius: 20px;
    }
  }
}
