
.pruebas-navbar {
  font-family: tahoma;
  overflow: hidden;
  padding: 20px;
  
}
.pruebas-navbar-mainNavbar {
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%;
  margin: 70px 35px;
  position: relative;
  cursor: pointer;
  text-align: center;
  font-size: 2.75rem;
  font-weight: bold;
  color: $my-black;
  transition: 0.24s 0.2s;
  background-color: $my-orange;
}
.pruebas-navbar-mainNavbar-h2{
  text-align: center;
  padding-top: 35%;
}
.pruebas-navbar-mainNavbar .pruebas-navbar-mainNavbar-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -75px;
  left: -75px;
  border: 150px solid transparent;
  cursor: default;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 1.4s 0.07s;
  z-index: -1;
}

.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu{
  transition: transform 0.4s 0.08s, z-index 0 0.5s ease-in-out;
  transform: scale(1);
  z-index: 1;
  transform: rotate(180deg)
}
.pruebas-navbar-mainNavbar:not(:hover) .pruebas-navbar-mainNavbar-menu {
  transition: transform 1.4s 1.07s;
  transform: scale(1);
  z-index: 1;
}
.pruebas-navbar-mainNavbar:not(:hover) .pruebas-navbar-mainNavbar-menu li{
  transition: transform 0.2s 0.2s;
  transform: scale(1);
  z-index: 1;
}
.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li{
  transition: all 0.7s;
}
.pruebas-navbar-mainNavbar .pruebas-navbar-mainNavbar-menu li a{
  width: 45px;
  height: 45px;
  margin: 40px;
  line-height: 45px;
  border-radius: 50%;
  position: absolute;
  font-size: 59%;
  color: $my-black;
  transition: 1.3s;
}
.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(1) {
  transform: rotate(85deg);
  
}
.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(1) .nav-a {
  transform: rotate(275deg);
  
}
.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(2) {
  transform: rotate(125deg);
}
.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(2) .nav-a {
  transform: rotate(595deg);
}
.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(3) {
  transform: rotate(165deg);
}
.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(3) .nav-a {
  transform: rotate(555deg);
}
.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(4) {
  transform: rotate(205deg);
}
.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(4) .nav-a {
  transform: rotate(515deg);
}
.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(5) {
  transform: rotate(245deg);
}
.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(5) .nav-a {
  transform: rotate(475deg);
}
.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(6) {
  transform: rotate(400deg);
}
.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(6) .nav-a {
  transform: rotate(315deg);
}
.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(7) {
  transform: rotate(325deg);
}
.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(7) .nav-a{
  transform: rotate(395deg);
}
.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(8) {
  transform: rotate(285deg);
}
.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(8) .nav-a{
  transform: rotate(430deg);
}
.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(9) {
  transform: rotate(360deg);
  
}
.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(9) .nav-a {
  transform: rotate(155deg);
}
.orb {
    animation:spin 4s linear infinite;
    border-radius: 50%;
    box-shadow:
        inset 20px 0 60px $my-orange,
        inset -20px 0 60px $blue,
        inset 20px 0 300px $my-orange,
        inset -20px 0 300px $blue,
          -10px 0 30px $my-orange,
          10px 0 30px $blue;
}
.small-orb {
    animation:spin 4s linear infinite;
    border-radius: 50%;
    box-shadow:
        inset 20px 0 60px $my-orange,
        inset -20px 0 60px $blue,
        inset 20px 0 300px $my-orange,
        inset -20px 0 300px $blue,
          0px 0 5px $my-orange,
          0px 0 5px $blue;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }