
.pruebas-navbar {
  font-family: tahoma;
  overflow: hidden;
}
.pruebas-navbar-mainNavbar {
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%;
  margin: 70px 35px;
  position: relative;
  cursor: pointer;
  text-align: center;
  font-size: 2.75rem;
  font-weight: bold;
  color: $my-black;
  transition: 0.24s 0.2s;
  background-color: $my-orange;
}
.pruebas-navbar-mainNavbar-h2{
  text-align: center;
  padding-top: 35%;
}
.pruebas-navbar-mainNavbar .pruebas-navbar-mainNavbar-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -75px;
  left: -75px;
  border: 150px solid transparent;
  cursor: default;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 1.4s 0.07s;
  z-index: -1;
}

.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu{
  transition: transform 0.4s 0.08s, z-index 0 0.5s ease-in-out;
  transform: scale(1);
  z-index: 1;
  transform: rotate(180deg)
}
.pruebas-navbar-mainNavbar:not(:hover) .pruebas-navbar-mainNavbar-menu {
  transition: transform 1.4s 1.07s;
  transform: scale(1);
  z-index: 1;
}
.pruebas-navbar-mainNavbar:not(:hover) .pruebas-navbar-mainNavbar-menu li{
  transition: transform 0.2s 0.2s;
  transform: scale(1);
  z-index: 1;
}
.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li{
  transition: all 0.7s;
}
.pruebas-navbar-mainNavbar .pruebas-navbar-mainNavbar-menu li a{
  width: 45px;
  height: 45px;
  margin: 40px;
  line-height: 45px;
  border-radius: 50%;
  position: absolute;
  font-size: 59%;
  color: $my-black;
  transition: 1.3s;
}
.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li {
  transform: rotate(calc(360deg / 9));
  transition: transform 0.5s ease-in-out;
  transform-origin: 50% 10px; /* Ajusta la distancia entre elementos */
}

.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li .nav-a {
  transform: rotate(calc(360deg - 360deg / 9));
  transition: transform 0.5s ease-in-out;
}

.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(2) {
  transform: rotate(calc(2 * 360deg / 9));
}

.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(3) {
  transform: rotate(calc(3 * 360deg / 9));
}

.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(4) {
  transform: rotate(calc(4 * 360deg / 9));
}

.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(5) {
  transform: rotate(calc(5 * 360deg / 9));
}

.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(6) {
  transform: rotate(calc(6 * 360deg / 9));
}

.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(7) {
  transform: rotate(calc(7 * 360deg / 9));
}

.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(8) {
  transform: rotate(calc(8 * 360deg / 9));
}

.pruebas-navbar-mainNavbar:hover .pruebas-navbar-mainNavbar-menu li:nth-child(9) {
  transform: rotate(calc(9 * 360deg / 9));
}

.orb {

  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, $my-orange, $my-orange, $my-dark-orange);
  box-shadow:
    inset 20px 0 20px $my-orange,
    inset -20px 0 20px $my-light-orange,
    inset 20px 0 100px $my-dark-orange,
    inset -20px 0 100px $my-orange,
    -3px 0 3px $my-orange,
    3px 0 3px $my-orange;
  position: relative;
}

.orb::before {
  content: '';
  position: absolute;
  top: 15%; /* Ajusta según tus necesidades */
  left: 15%; /* Ajusta según tus necesidades */
  width: 70%; /* Ajusta según tus necesidades */
  height: 70%; /* Ajusta según tus necesidades */
  border-radius: 50%;

}
.small-orb {
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%, $my-orange, $my-orange, $my-dark-orange);
    box-shadow:
      inset 5px 0 5px $my-orange,
      inset -5px 0 5px $my-orange,
      inset 5px 0 5px $my-light-orange,
      inset -5px 0 5px $my-light-orange,
      -3px 0 3px $my-orange,
      3px 0 3px $my-orange;
    position: relative;
  }
  
.circularNav-a:hover{
  scale: 1.2;
  transition: 0.1s ease-in-out;
}