.modeBtns{
  display: flex;
  gap: 0.5vw;
  position: absolute;
  right: calc(100px + 10vw);

  top: 0;
  margin-top: 30px;
  padding-right: 80px;  
}

.modeBtn{
  padding: 3px 10px;
  font-size: calc(10px + 0.3rem);
  min-width: 60px;
}





//day night moon-draw
/* DAY STYLES*/
/* DAY STYLES*/

.the-container{
  display: block;
  position: absolute;
  margin: auto;
  top: 0px;
  bottom: 0;
  right: 0;
}

.input-dayNight[type=checkbox] {
    position: absolute;
    visibility: hidden;
}

 .input-dayNight#toggle[type=checkbox]{
  display:none;
  
 }


.label-dayNight {
    position: absolute;
    height: 40px;
    width: 70px;
    display: block; 
    top: 0px; bottom: 0; right: 0; left:0;
    z-index: 9999;
    cursor: pointer;
    margin: 0 auto;
    font-size: 0.6rem;
    padding-top: 7px;
    opacity: 0;
    text-align: center;
}

  @keyframes revertOpacity {
    50% {
      opacity: 0.5;
    text-shadow: 1px 1px 1px $my-white;

    }
    100% {
      opacity: 1;
    }
  }

.switch {
  display: block; 
  position: relative;
  border-bottom: 1px solid $my-black;
  border-radius: 25px;
  background-color: $my-orange;
  box-shadow: inset 0 0 10px #888888;
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
  height: 30px;
  width: 70px;
  margin: 0px auto 30px auto;
}

.switch .moon-draw{
  display: block; 
  position: absolute;
  border-radius: 100%;
  background-color: $my-black;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 1.6px solid $my-orange;
  clip-path: (50% 20%, 100% 50%, 50% 100%, 0% 50%);
}
.moon-draw::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: $my-black;
  border-radius: 50%;
  clip-path: circle(10px at 19px 10px);
}

.day-night-cont {
  display: block;
  position: absolute;
  width: 60px;
  margin: 0 auto;
  left: 0; right: 0; top: 0; bottom:0;
  height: 40px;
  top: 0px;
}

.day-night-cont .the-sun{
  display: block;
  position: absolute;
  left: 35%;
  top: 10px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: $my-black;
  box-shadow: 0px 0px 10px $my-black;
}

.day-night-cont .the-moon {
  left: 35%;
  top: 10px;
  width: 20px;
  height: 20px;
  background-color: $my-white;
  border-radius: 50%;
  border: 1px solid $my-black;
  clip-path: (50% 20%, 100% 50%, 50% 100%, 0% 50%);
}
.day-night-cont .the-moon::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #000;
  border-radius: 50%;
  clip-path: circle(10px at 17px 10px);
}

.day-night-cont .the-moon .moon-inside{
  display: block;
  position: absolute;
  left: 8px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: $my-black;
}

/* TOGGLE */

.switch .moon-draw {
    transition: left .25s ease-in-out;
    -webkit-transition: left .25s ease-in-out;
    
}

.input-dayNight[type=checkbox]:checked ~ .switch .moon-draw {
    position: absolute;
    left: 44px;
}
.input-dayNight[type=checkbox]:checked ~ .day-night-cont .the-sun {
    position: absolute;
    transition: 1s ease-in-out all;
  animation: sunUp 1.9s linear forwards ;
}
.input-dayNight[type=checkbox]:checked ~ .switch .moon-draw::before{
  background-color: $sun-yellow;
  clip-path: circle(100px at 17px 10px);
  transition: 1s ease-in-out;
}

.input-dayNight[type=checkbox]:not(:checked) ~ .day-night-cont .the-moon {
position: absolute;
transition: 1s ease-in-out all;
animation: moonUp 1.9s linear forwards ;
}
.input-dayNight[type=checkbox]:not(:checked) ~ .switch .moon-draw::before {
  transition: 0.3s ease-in-out;
  background-color: $my-orange;
}

/* NIGHT ANIMATION */

.input-dayNight[type=checkbox]:checked ~ .c-window {
  background-color: #222222;
}


.input-dayNight[type=checkbox]:checked ~ .c-window .the-fox{
  background-color: $my-orange;
}

@keyframes sunUp {
  10% {
    transform: translateX(-15%) translateY(50px);
    background-color: $sun-yellow; /* $sun-yellow replaced */
    box-shadow: 0px 0px 10px $sun-yellow-shadow; /* $sun-yellow-shadow replaced */
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-15%) translateY(50px);
    background-color: $sun-yellow; /* $sun-yellow replaced */
    box-shadow: 0px 0px 10px $sun-yellow-shadow; /* $sun-yellow-shadow replaced */
  }
}

@keyframes moonUp {
  10% {
    transform: translateX(-15%) translateY(50px);
    background-color: #f4f3f0;
    opacity: 1;

  }
  100%{
    opacity: 0;
    transform: translateX(-15%) translateY(50px);
  }
}






// dibujar la luna
