@mixin calculator-buttons($backgroundColor, $width, $height) {
background-color: $backgroundColor;
width: $width;
height: $height;
}

@mixin background-components($backgroundColor){
  background-color: $backgroundColor;
  width: 100%;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
}

