$my-grey: rgb(176, 203, 193);
$my-light-orange: #e15030;
$my-orange: #C74628;
$my-dark-orange: #9e3720;
$my-black: rgb(0, 0, 0);
$my-white: #e5e5e2;
$my-red: rgb(242, 0, 0);
$my-blue: rgb(5, 133, 218);
$my-darkBlue: rgb(4, 46, 75);
$my-lightBlue: #48E8AA;
$sun-yellow:#FFE067;
$sun-yellow-shadow:#FFC41D;
:root {
  --my-grey: #b0cbc1;
  --my-orange: #C74628;
  --my-black: #000000;
  --my-grey: #a6a6a6;
  --my-white: #e5e5e2;
  --my-red: #f20000;
  --my-blue: #0949a9;
  --my-blue: #0585da;
  --my-violet:rgba(254, 19, 180, 0.994);

  --my-lightBlue: #48E8AA;
  --my-lightlightorange: #ffe09c;
  --my-lightlightgreen:rgba(198, 253, 142, 0.699);
  --my-lightlightyellow:rgba(255, 251, 0, 0.616);
  --my-lightlightviolet:rgba(250, 155, 220, 0.669);

}


