.calculatorScreen{
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.game-screen-box{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: transparent;
}