.memoryGame{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 400px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  &-img{
    margin: auto;
  }
}