.profile-component {
  margin: auto;
  position: relative;
  height: calc(1000px + 20vw);
  &-picture-wrapper {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    overflow: hidden; 
  }

  &-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100px + 12vw);
    margin-top: 5vw;
    margin-left: 30%;
    border: 2px solid transparent;
    overflow: visible; 
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    line-height: 30px;
    transition: 1s ease-in-out;
    z-index: 1;
    position: relative; /* Para contener pseudo-elementos */

    &-img {
      width: calc(120px + 8vw);
      position: relative; /* Cambiado a relative para la posición de flexbox */
      top: 0; /* Eliminado top y left */
      left: 0;
      z-index: 2; 
      margin-top: -30px;
    transition: 1s ease-in-out;

    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 70%;
      height: 2px;
      background-color: $my-orange;
      transform: scaleX(0);
      transition: transform 1s ease-in-out;
    }

    &::before {
      top: 0;
      right: 0;
      transform-origin: bottom right;
      z-index: 1; 
    }
    &::after {
      bottom: 0; 
      left: 0;
      transform-origin: top left;
      z-index: 3;
    }
    &::before,
    &::after {
      animation: expandBorder 2s forwards ease-in-out;
    }
  }
}

@keyframes expandBorder {
  to {
    transform: scaleX(1);
  }
}
