
.colores-box{
  justify-content: space-evenly;
    text-align: center;
  &-circles{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    &-white{
      width: calc(100px + 4vw);
      margin: auto;
    }
    &-circle{
      width: calc(100px + 4vw);
      height: calc(100px + 4vw);
      border-radius: 50%;
      color: white;
    }
  }
}

.colorNames{
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    &-example{
      img{
        width: 200px;
      }
    }
    &-circles{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        width: 400px;
        margin: 150px auto;
        .colorNames-circles-circle:nth-child(1) {
          transform: translateY(100px);
          animation: slideUpAndDisappear 2.3s linear forwards;
        }
        .colorNames-circles-circle:nth-child(2) {
          transform: translateY(90px);
          animation: slideUpAndDisappear 1.3s linear forwards;
        }
        .colorNames-circles-circle:nth-child(3) {
          transform: translateY(230px);
          animation: slideUpAndDisappear 1.7s linear forwards;
        }
        .colorNames-circles-circle:nth-child(4) {
          transform: translateY(-30px);
          animation: slideUpAndDisappear 1.8s linear forwards;
        }
        .colorNames-circles-circle:nth-child(5) {
          transform: translateY(160px);
          animation: slideUpAndDisappear 1.9s linear forwards;
        }
        .colorNames-circles-circle:nth-child(6) {
          transform: translateY(10px);
          animation: slideUpAndDisappear 2s linear forwards;
        }
        .colorNames-circles-circle:nth-child(7) {
          transform: translateY(-350px);
          animation: slideUpAndDisappear 2.3s linear forwards;
        }
        .colorNames-circles-circle:nth-child(8) {
          transform: translateY(-210px);
          animation: slideUpAndDisappear 2.7s linear forwards;
        }
        .colorNames-circles-circle:nth-child(9) {
          transform: translateY(-10px);
          animation: slideUpAndDisappear 2.9s linear forwards;
        }
        .colorNames-circles-circle:nth-child(10) {
          transform: translateY(+40px);
          animation: slideUpAndDisappear 1.3s linear forwards;
        }
        .colorNames-circles-circle:nth-child(11) {
          transform: translateY(-190px);
          animation: slideUpAndDisappear 2.4s linear forwards;
        }
        .colorNames-circles-circle:nth-child(12) {
          transform: translateY(0px);
          animation: slideUpAndDisappear 3.3s linear forwards;
        }
    &-white{
      width: calc(100px + 4vw);
      margin: auto;
    }
    &-circle{
      width: calc(50px + 1vw);
      height: calc(100px + 1vw);
      border-radius: 50%;
    }
  }
}


@keyframes slideUpAndDisappear {
  0% {
    opacity: 0;
  }
  80% {
    transform: translateX(-50%) translateY(-650px);
    opacity: 1;
  }
  90% {
    transform: translateX(-50%) translateY(-650px);
    opacity: 0;
  }}